<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encuesta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngFor="let point of survey.points">

    <ion-item *ngIf="point.answer_type == 'text'">
      <ion-label position="stacked">
        {{ point.content }}
      </ion-label>
      <ion-textarea  type="text">
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="point.answer_type == 'nps'">
      <ion-label position="stacked">
        {{ point.content }}
      </ion-label>
      <ion-input type="text">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="point.answer_type == 'multiple'">
      <ion-label position="stacked">
        {{ point.content }}
      </ion-label>
      <ion-input type="text">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="point.answer_type == 'smiley_scale'">
      <ion-label position="stacked">
        {{ point.content }}
      </ion-label>
      <ion-input type="text">
      </ion-input>
    </ion-item>

  </ng-container>

  <!-- <pre> {{ survey | json }}</pre> -->

</ion-content>
